# Veri Çerçevesi (Data Frame)

Bu bölümde sıfırdan **Veri Çerçevesi** (**Data Frame**) oluşturmayı ya da harici kaynaktan verileri okuyarak veri çerçevesine dönüştürmeyi öğreneceğiz.

## import Fonksiyonu

Öncelikle **Pandas** Kütüphanesini çalışmamıza dahil edip (içe aktarıp), kodlama esnasında kolay sağlaması ve hızlı olması adına bu kütüphaneye **pd** adını atayalım;

In [1]:
import pandas as pd

## DataFrame() Fonksiyonu

Veri Çerçevesi (Data Frame) Oluşturmak/Dönüştürmek için **DataFrame()** fonksiyonunu kullanıyoruz. Veri Çerçevesine dönüştürmek istediğimiz veriyi, parantez içine, parametre olarak yazmalıyız.

In [ ]:
pd.DataFrame(dosya veya veri)

örneğin bir sözlük (dict) yapısı oluşturup bu yapıyı **Veri Çerçevesi**ne (**Data Frame**'e) dönüştürelim;

In [3]:
sozluk = {"isim" : ["Mustafa", "Halil", "Burak", "Emre", "Ersin", "Sertaç", "Furkan","Murat","Ahmet","Abdülkadir"],
                    "yaş" : [25, 38, 41, 23, 37, 52, 30, 23, 40, 38],
                   "iş-meslek" : ["mühendis", "programcı", "akademisyen", "yönetici","amir","mühendis", "yönetici","müdür","veteriner","yönetici"]}
veri = pd.DataFrame(sozluk)

Oluşturduğumuz Veri Çerçevesinin içeriğini görelim;

In [5]:
veri

         isim  yaş    iş-meslek
0     Mustafa   25     mühendis
1       Halil   38    programcı
2       Burak   41  akademisyen
3        Emre   23     yönetici
4       Ersin   37         amir
5      Sertaç   52     mühendis
6      Furkan   30     yönetici
7       Murat   23        müdür
8       Ahmet   40    veteriner
9  Abdülkadir   38     yönetici

Gördüğünüz gibi verimiz, **DataFrame()** fonksiyonu ile, SQL ya da Excel tablosuna benzer şekilde satır ve sütunlardan oluşan yapıya dönüştürüldü. artık bu yapıyı yönetmek ve analiz etmek oldukça kolaylaştı.

# Veri Çerçevesi Temel Fonksiyonları

## head() Fonksiyonu

Oluşturduğumuz ya da çalışmamıza dahil ettiğimiz (içe aktardığımız) Veri Çerçevelerinin ilk satırlarını görüp, içerik hakkında bilgi edinmek istersek **head()** fonksiyonunu kullanabiliriz. **Head** kelimesi Türkçede **Baş, Kafa** anlamına gelmektedir.

In [6]:
veri.head()

      isim  yaş    iş-meslek
0  Mustafa   25     mühendis
1    Halil   38    programcı
2    Burak   41  akademisyen
3     Emre   23     yönetici
4    Ersin   37         amir

**head()** fonksiyonunda parantez içine parametre olarak bir değer yazmazsak, veri çerçevesinin **ilk 5 değeri** görüntülenir. Değer belirtirsek belirttiğimiz değer kadar veri görüntülenir.

In [7]:
veri.head(3)

      isim  yaş    iş-meslek
0  Mustafa   25     mühendis
1    Halil   38    programcı
2    Burak   41  akademisyen

İndex değerinin 2'de bitmesi sizi şaşırtmasın, pekçok programlama dilindi olduğu gibi Python programlama dilinde de, sayma sayıları sıfırdan başlar. Zaten tabloyu incelerseniz, tabloda 3 kullanıcıya ait veri olduğunu görürsünüz.

## tail() Fonksiyonu

**head()** fonksiyonuna oldukça benzer bir fonksiyondur. Oluşturduğumuz ya da çalışmamıza dahil ettiğimiz Veri Çerçevelerinin **son satırlarını** görüp içerik hakkında bilgi edinmek istersek **tail()** fonksiyonunu kullanabiliriz. **Tail** kelimesi Türkçede, **kuyruk, son kısım** anlamına gelmektedir.

In [8]:
veri.tail()

         isim  yaş  iş-meslek
5      Sertaç   52   mühendis
6      Furkan   30   yönetici
7       Murat   23      müdür
8       Ahmet   40  veteriner
9  Abdülkadir   38   yönetici

**tail()** fonksiyonunu içine parametre olarak bir değer yazmazsak, veri çerçevesinin **son 5 değerini** görüntüler. Değer belirtirsek belirttiğimiz değer kadar veri görüntüler.

In [10]:
veri.tail(7)

         isim  yaş  iş-meslek
3        Emre   23   yönetici
4       Ersin   37       amir
5      Sertaç   52   mühendis
6      Furkan   30   yönetici
7       Murat   23      müdür
8       Ahmet   40  veteriner
9  Abdülkadir   38   yönetici

## columns Fonksiyonu

**columns** fonksiyonu, oluşturulan ya da içe aktarılan Veri Çerçevelerinin başlık satırını çıktı olarak verir / görüntüler. **columns** fonksiyonunu kullanırken sonunda <u>parantez işaretleri kullanmadığımıza</u> dikkat edin.

Sütun isimlerini değiştirmek ya da veri çerçevesine filtreleme işlemi uygulamak istediğimiz zaman, bu fonksiyon çok işimize yarar.

In [11]:
veri.columns

Index(['isim', 'yaş', 'iş-meslek'], dtype='object')

## len() Fonksiyonu

**len()** foknsiyonu, Veri Çerçevesinin kaç satırdan oluştuğunu bildirir.

In [12]:
len(veri)

10

Çıktıdan anladığımız kadarıyla, **veri** isimli veri çerçevesi, 10 satırlık bir yapıdan oluşuyor.

## info() Fonksiyonu

**info()** fonksiyonu, Veri Çerçevesinin satır ve sütun sayısı, başlık tipleri (sayı, metin, ...vb) ve doluluk oranı (boş olmayan hücre sayısı) hakkında bilgi görüntüler.

In [13]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   isim       10 non-null     object
 1   yaş        10 non-null     int64
 2   iş-meslek  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

<u>Çıktıyı incelersek;</u>

**class 'pandas.core.frame.DataFrame** : **veri**'nin Pandas sınıfına ait bir DataFrame yapısı olduğunu,

**RangeIndex: 10 entries, 0 to 9** : Veri Çerçevesinin 0 ile 9 arasında, toplam 10 satırlık yapı olduğunu,

**Data columns (total 3 columns)** : Veri Çerçevesinin 3 sütundan oluştuğunu,

**Column** : Sütun isimlerini,

**Non-Null Count** : Boş olmayan veri sayısını,

**Dtype** : Veri biçimini tanımlar.

**int34** ya da int64 **ibaresi**, **tamsayı (integer)** olduğunu, **object** ibaresi, verinin **metin (string)** ifadesi olduğunu,

**dtypes: int64(1), object(2)** : Veri Çerçevesinin 1 adet tamsayı (**int64(1)**), 2 adet metinsel (string / **object(2)**) başlık/sütun içerdiğini temsil eder.

## dtypes Fonksiyonu

**dtypes** fonksiyonu, veri çerçevesinin başlık tiplerini görüntüler. **dtypes** fonksiyonunu kullanırken sonunda <u>parantez işaretleri kullanmadığımıza</u> dikkat edin.

In [14]:
veri.dtypes

isim         object
yaş           int64
iş-meslek    object
dtype: object

## describe() Fonksiyonu

**describe()** fonksiyonu, sayısal veri barındıran sütunlar hakkında detaylı matematiksel bilgiler verir.

In [15]:
veri.describe()

             yaş
count  10.000000
mean   34.700000
std     9.333929
min    23.000000
25%    26.250000
50%    37.500000
75%    39.500000
max    52.000000

<u>Çıktıyı incelersek;</u>

**count :** yaş isimli sütunda kaç adet veri olduğunu,

**mean :** yaş isimli sütudaki verilerin ortalamasını,

**std :** yaş isimli sütudaki verilerin standart sapmasını,

**min:** yaş isimli sütudaki verilerin en küçük değerini

**%25 :** yaş isimli sütundaki verilerin medyanın alt çeyreğini (dörttebirliğini),

**%50 :** yaş isimli sütundaki verilerin Ortanca medyanını,

**%75 :** yaş isimli sütundaki verilerin medyanın üst çeyreğini (dörttebirliğini),

**max :** yaş isimli sütudaki verilerin en büyük değerini, tanımlar

## shape Metodu

Veri Çerçevesinin yapısını yani satır ve sütun bilgisini öğrenmek için shape metodunu kullanabiliriz.

In [16]:
veri.shape

(10, 3)

Çıktıdan anladığımıza göre veri isimli veri çerçevesi, 10 satır ve 3 sütundan oluşan bir yapıdır.

## iloc Metodu

Veri Çerçevesindeki istenilen satırı görüntülemek için **iloc** metodu kullanılır. **iloc** kelimesini unutmamak için **İndex Location** yani, **Konum İndeksi/numarası** gibi düşünebilir, kafanıza kodlayabilirsiniz.

In [17]:
veri.iloc[5]

isim           Sertaç
yaş                52
iş-meslek    mühendis
Name: 5, dtype: object

## loc Metodu

**iloc** metoduna benzer bir metottur ancak **loc** metodunda, görüntülemek istediğimiz satırın indeks ismi yazmalıyız. Elimizde aşağıdaki gibi bir veri çerçevesi olduğunu düşünürsek;

In [19]:
nba_csv = pd.read_csv("Veri_Setleri/nba.csv", index_col="Name")
nba_csv.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

**John Holland** isimli satır verisine ulaşmak için **loc** metoduna **John Holland** metinsel (string) ibaresini eklemeliyiz.

In [20]:
nba_csv.loc["John Holland"]

Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object