# Seçim Yöntemleri

# Satır ve Sütun Seçimi

## iloc[] Metodu

Veri Çerçevesindeki istenilen satır ve sütunu seçmek/görüntülemek için **iloc[]** metodu kullanılır. **iloc[]** kelimesini unutmamak için **İndex Location** yani, **Konumun İndeks Değeri** gibi düşünebilir, hafızanızda kodlayabilirsiniz. Bir başka ifadeyle, <code>iloc[]</code> için, Tamsayı değerine dayalı konum indeksleme metodu diyebiliriz. Esas olarak **iloc[]** metodu, hem satır hem de sütun numarası alarak çalışır.

<code>Veri_Cercevesi_Adı.iloc[Satir_Numarası, Sütun_Numarası]</code>

<code>iloc[]</code> metodunun alabileceği parametreler şunlardır:

* Bir satır ve sütun dizini, ör. <code>(0,1)</code>
* Bir tamsayı, ör. <code>5</code>
* Bir tamsayı listesi veya dizisi, ör. <code>[4, 3, 0]</code>
* Tamsayılı bir dilim nesnesi, ör. <code>1:7</code>
* Bir mantık (boole) dizisi.

Öncelikle **Pandas** Kütüphanesini içe aktarıp, kodlama esnasında hızlı olması adına bu kütüphaneye **pd** adını atayalım;

In [1]:
import pandas as pd

Bu eğitimde, fonksiyon ve metotlar konusunu anlatırken kullanmak üzere, basit bir Veri Çerçevesi (Data Frame) oluşturalım ve oluşturduğumuz Veri Çerçevesinin içeriğini görelim;

In [2]:
sozluk = {"isim" : ["Mustafa", "Halil", "Burak", "Emre", "Ersin", "Sertaç", "Furkan","Murat","Ahmet","Abdülkadir"],
                    "yaş" : [25, 38, 41, 23, 37, 52, 30, 23, 40, 38],
                   "iş-meslek" : ["mühendis", "programcı", "akademisyen", "yönetici","amir","mühendis", "yönetici","müdür","veteriner","yönetici"]}
veri = pd.DataFrame(sozluk)
veri

         isim  yaş    iş-meslek
0     Mustafa   25     mühendis
1       Halil   38    programcı
2       Burak   41  akademisyen
3        Emre   23     yönetici
4       Ersin   37         amir
5      Sertaç   52     mühendis
6      Furkan   30     yönetici
7       Murat   23        müdür
8       Ahmet   40    veteriner
9  Abdülkadir   38     yönetici

Verimizi <code>.iloc[]</code> metodu ile seçelim.

In [19]:
veri.iloc[8,2]

'veteriner'

<code>iloc[]</code> metodu, parametre olarak tam sayı alabileceği gibi, sayı listesi de alabilir. Bildiğiniz gibi Python'da liste veri tipleri köşeli parantez <code>[]</code> ile ifade ediliyor. O nedenle <code>iloc[]</code> metoduna parametre olarak liste veri tipi girileceği zaman içiçe köşeli parantezler (hem satıra hemde sütuna ait listeler yazılacağı için) konuyu yeni öğrenenlerde kafa karışıklığına sebep olabilir. Anlatmak istediğimi aşağıdaki koda bakarak rahatlıkla anlayabilirsiniz.

<code>iloc[[satır_listesi], [sütun_listesi]]</code>

In [6]:
veri.iloc[[1,3,5],[0,2]]

     isim  iş-meslek
1   Halil  programcı
3    Emre   yönetici
5  Sertaç   mühendis

## Sadece Satırları İndekslemek

### Bir Tamsayı ile Satır Seçimi
<code>iloc[]</code> metoduna parametre olarak sadece **bir tamsayı değeri** girildiğinde, girilen sayıya (indeks bilgisine) ait **satır** verisi döndürülür. Hemen aşağıdaki örneğe bakalım.

In [17]:
veri.iloc[5]

isim           Sertaç
yaş                52
iş-meslek    mühendis
Name: 5, dtype: object

### Bir Sayı Listesi ile Satır Seçimi
Veri çerçevemizden **belirli bazı satırları** seçmek istersek <code>iloc[]</code> metoduna parametre olarak bir **liste** tanımlamalıyız. Bu liste, bir satırdan başlayıp diğer bir satıra kadar olan aralık (dilimleme) olabileceği gibi tek tek te belirtilebilir. Şimdi bunları inceleyelim.

Örneğin veri çerçevemizde indeks değeri 3, 5 ve 7 olan satırları seçmek istersek aşağıdaki şekilde kod ayzmamız gerekir.

In [3]:
veri.iloc[[3,5,7]]

     isim  yaş iş-meslek
3    Emre   23  yönetici
5  Sertaç   52  mühendis
7   Murat   23     müdür

<code>veri.iloc[[3,5,7]]</code> koduna dikkat ederseniz <code>iloc[]</code> metoduna parametre olarak sadece bir adet köşeli parantez yazıldı, ikinci köşeli parantez yazılmadı. Bu demek oluyor ki, **parametre olarak sadece satır bilgisi** var yani sütunlarda seçme ya da kısıtlamaya işlemi yapılmadı, tüm sütun bilgileri gösterilmeli. Zaten Çıktıya baktığımızda anlattığımız gibi sonuç elde ettiğimizi görüyoruz.

### Dilimleyerek Satır Seçimi
Python'da **listeler** konusunu okuduğunuzda, dilimlemenin nasıl yapıldığını da görmüş olmalısınız. Kısaca bahsedecek olursak, dilimleme için <code>:</code> karakteri kullanılır. <code>:</code> karakterinin solunda **başlangıç**, sağında **bitiş** değeri yazılır. Elimizde veri çerçevemizin indeks değerleri gibi **0 ile 9** arasında sayılardan oluşan bir liste varsa, bu listeden aralık seçmek yani dilimleme yapmak istersek aşağıdaki kodu yazmalıyız.

<code>[1:5]</code>

Bu kodun anlamı, 1. öğeden başlayarak **5. öğeye kadar** (yani 5. öğe dahil **DEĞİL**) dilimleme yap, 1,2,3,4 sonucunu ver.

<code>[3:]</code>

Bu kodun anlamı, **3. öğeden başlayarak** listenin sonuna kadar dilimleme yap, 3,4,5,6,7,8,9 sonucunu ver.

<code>[3:]</code> koduna dikkat ederseniz, <code>:</code>'dan sonra kısıtlama/sınırlama getirilmemiştir, yani liste sona kadar devam eder.

Bir aralık belirterek veri çerçevemizde dilimleme yapalım ve sonucu görelim;

In [4]:
veri.iloc[1:5]

    isim  yaş    iş-meslek
1  Halil   38    programcı
2  Burak   41  akademisyen
3   Emre   23     yönetici
4  Ersin   37         amir

Dilimleme yaparken <code>iloc[]</code> metodunun içine ayrıca köşeli parantez **kullanmadığımıza** dikkat edin. 

Belirli bir satırdan başlayıp, veri çerçevesinin sonuna kadar giden bir dilimleme yapmak istersek, aşağıda bulunan kod gibi <code>:</code>'nin sağına değer yazmamalı, boş bırakmalıyız.

In [13]:
veri.iloc[3:]

         isim  yaş  iş-meslek
3        Emre   23   yönetici
4       Ersin   37       amir
5      Sertaç   52   mühendis
6      Furkan   30   yönetici
7       Murat   23      müdür
8       Ahmet   40  veteriner
9  Abdülkadir   38   yönetici

Yukarıdaki anlatımın tersi olan ilk satırdan başlayıp, veri çerçevesinin istenilen satırına kadar giden bir dilimleme yapmak istersek te, aşağıda bulunan kod gibi <code>:</code>'nin soluna değer yazmamalı, boş bırakmalıyız.

In [14]:
veri.iloc[:4]

      isim  yaş    iş-meslek
0  Mustafa   25     mühendis
1    Halil   38    programcı
2    Burak   41  akademisyen
3     Emre   23     yönetici

## Satır ve Sütunları İndekslemek

Yukarıda yazdığımız <code>veri.iloc[8,2]</code> kodu, hem satır hemde sütun belirterek değer elde ettiğimiz bir indeksleme yöntemidir.

### Satır ve Sütunda dilimleme yapmak

Hem satırda hemde sütunda dilimleme yapmak istersek aşağıdaki şekilde kod yazmalıyız;

In [11]:
veri.iloc[3:8,:2]

     isim  yaş
3    Emre   23
4   Ersin   37
5  Sertaç   52
6  Furkan   30
7   Murat   23

<code>veri.iloc[3:8,:2]</code> kodu ile, 3-8 arası satır, 0-2 arası sütun verileri dilimlenmiş. (**Satırlarda**, 3'ten başlayan 8'de biten bir sınırlama yazılmış, **Sütunlarda** başlangıçta sınır yok yani 0'dan başlıyor, 2. sütuna kadar sınırlama getirilmiş.)

## loc[] Metodu

**iloc[]** metoduna benzer bir metottur ancak **loc[]** metodunda, satır ve sütun seçmek/görüntülemek istediğimiz zaman, saır ve sütunların isimlerini yazmalıyız. Elimizde aşağıdaki gibi bir veri çerçevesi olduğunu varsayalım.

In [46]:
imdb = pd.read_excel("Veri_Setleri/imdb.xlsx", index_col="Film_Adı")
imdb

                            Yıl Puan  Oylayan_Kişi
Film_Adı
The Shawshank Redemption   1994  9,2       1071904
The Godfather              1972  9,2        751381
The Godfather: Part II     1974    9        488889
Pulp Fiction               1994  8,9        830504
The Dark Knight            2008  8,9       1045186
...                         ...  ...           ...
Mystic River               2003  7,9        256159
In the Heat of the Night   1967  7,9         37081
Arsenic and Old Lace       1944  7,9         45893
Before Sunrise             1995  7,9        100974
Papillon                   1973  7,9         62517

[247 rows x 3 columns]

**Pulp Fiction** Filminin **Puan**ını öğrenmek istediğimizi düşünelim. Bu durumda aşağıdaki kodları yazmamız doğru sonucu verecektir.

In [32]:
imdb.loc["Pulp Fiction", "Puan"]

'8,9'

**Star Wars** isimli satır verisine ulaşmak için **loc[]** metoduna **Star Wars** metinsel (string) ibaresini eklemeliyiz.

In [61]:
imdb.loc["Star Wars"]

Yıl               1977
Puan               8,7
Oylayan_Kişi    585132
Name: Star Wars, dtype: object

## Sütun Seçimi

Sadece bir Sütunu seçmek/görüntülemek için veri çerçevesinin adı ile birlikte seçmek/görüntülemek istediğimiz sütunun ismini yazmak yeterlidir. Bu da iki şekilde gerçekleştirilebilir.

1. **VeriCervecesiAdı.SütunAdı**
2. **VeriCervecesiAdı["SütunAdı"]**

Sütun isminde boşluk ya da nokta karakterleri bulunması halinde, ilk (noktalı) seçeneği kullanamayız, o durumda 2. seçeneği (köşeli parantezli) kullanmak gerekir.
Bunları da örneklerle görelim.

In [69]:
imdb.Puan

Film_Adı
The Shawshank Redemption     9,2
The Godfather                9,2
The Godfather: Part II         9
Pulp Fiction                 8,9
The Dark Knight              8,9
                            ...
Mystic River                 7,9
In the Heat of the Night     7,9
Arsenic and Old Lace         7,9
Before Sunrise               7,9
Papillon                     7,9
Name: Puan, Length: 247, dtype: object

In [71]:
imdb["Puan"]

Film_Adı
The Shawshank Redemption     9,2
The Godfather                9,2
The Godfather: Part II         9
Pulp Fiction                 8,9
The Dark Knight              8,9
                            ...
Mystic River                 7,9
In the Heat of the Night     7,9
Arsenic and Old Lace         7,9
Before Sunrise               7,9
Papillon                     7,9
Name: Puan, Length: 247, dtype: object

Birden fazla sütun seçmek istediğimiz durumda, sütun isimlerini liste olarak (bildiğiniz gibi liste veri tipleri köşeli parantez ile temsil edilir) belirtmek/yazmak gerekir.

In [76]:
imdb[["Yıl", "Puan"]]

                            Yıl Puan
Film_Adı
The Shawshank Redemption   1994  9,2
The Godfather              1972  9,2
The Godfather: Part II     1974    9
Pulp Fiction               1994  8,9
The Dark Knight            2008  8,9
...                         ...  ...
Mystic River               2003  7,9
In the Heat of the Night   1967  7,9
Arsenic and Old Lace       1944  7,9
Before Sunrise             1995  7,9
Papillon                   1973  7,9

[247 rows x 2 columns]